=extends

=rules
- no-prototype = on
- no-multi-declaration = on
- undeclared-function = on
- undeclared-variable = on
- arguments-count = on
- function-parameters-type = on
- variable-assignment-type = on
- return-type = on
- ternary-types = on
- unused-variable = on
- unused-function = on
- max-file-line-numbers = 5
- max-line-numbers = 30
- no-trailing-space = on
- comma-spacing = on
- operators-spacing = on
- comments-header = on

=excludedFiles

=recursive
false