=extends

=rules
- no-prototype = on
- no-multi-declaration = on
- undeclared-function = on
- undeclared-variable = on
- arguments-count = on
- function-parameters-type = on
- variable-assignment-type = on
- return-type = on
- ternary-types = on

=excludedFiles

=recursive
true